/* CSS HEX */
--pale-purple-pantone: #f1e3f3ff;
--lavender-blue: #c2bbf0ff;
--french-sky-blue: #8fb8edff;
--capri: #62bfedff;
--dodger-blue: #3590f3ff;

/* CSS HSL */
--pale-purple-pantone: hsla(293, 40%, 92%, 1);
--lavender-blue: hsla(248, 64%, 84%, 1);
--french-sky-blue: hsla(214, 72%, 75%, 1);
--capri: hsla(200, 79%, 66%, 1);
--dodger-blue: hsla(211, 89%, 58%, 1);

